<!doctype html>
<html ng-app="summit" ng-controller="AppCtrl as app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width">
	<title>Mozilla Summit</title>
	<meta name="fragment" content="!">

	<!-- CSS -->
	<link rel="stylesheet" href="css/app-sandstone.css" />
</head>
<body class="sand">
	<div id="outer-wrapper">
	 <div id="wrapper">
		<header id="masthead">
			<nav id="nav-main" role="navigation">
			  <ul id="nav-main-menu">
			    <li class="first" id="nav-main-features"><a href="/#!/" class="submenu-item">Back</a>
			    </li>
			  </ul>
			</nav>
		</header>

		<main role="main" id="main-feature">
			<div ng-view></div>
		</main>

	 </div>

		<!--
		<footer id="colophon">
			<div class="row">
				<ul class="primary">
					<li><a href="/#!/logout" ng-show="user"><span>Logout</span></a></li>
				</ul>
				<ul class="secondary">
					<li><a href="https://www.mozilla.org/en-US/privacy/">Privacy Policy</a></li>
					<li><a href="https://www.mozilla.org/en-US/about/legal.html">Legal Notices</a></li>
				</ul>
			</div>
		</footer>
		-->

		<div ng-hide="ready" id="splash-screen">
			<h1>{Logo}</h1>
		</div>
	</div>

	<footer>

	</footer>

	<!-- Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
	<script src="//code.angularjs.org/1.2.0-rc.2/angular.js"></script>
	<script src="//code.angularjs.org/1.2.0-rc.2/angular-route.js"></script>
	<script src="//code.angularjs.org/1.2.0-rc.2/angular-cookies.js"></script>
	<script src="js/app.js"></script>
	<script>
		bootstrapApp({{{jsonPayload}}});
	</script>
</body>
</html>